
@font-face {
  font-family: emulogic;
  src: url(../fonts/emulogic.ttf) format("truetype");
}

@font-face {
  font-family: mariomaker;
  src: url(../fonts/MarioMaker.ttf) format("truetype");
}

@font-face {
  font-family: papermario;
  src: url(../fonts/FOT-PopJoyStd-B.otf) format("opentype");
}

@font-face {
  font-family: supermario;
  src: url(../fonts/SuperMario.ttf) format("truetype");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  background-color: #9290FF;
  background-image: url(../img/pattern-logos-characters.png);
}

/* Ocultar el cursor por defecto */
body {
  cursor: none;
}

.cursor-dot{
  background-color: red;
  height: 1.5rem;
  width: 1.5rem;
}

.cursor-outline{
  border: 0.2rem solid blue;
  height: 3rem;
  width: 3rem;
}

.cursor-dot,
.cursor-outline{
  border-radius: 50%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.titlepage{
  align-items: center;
  background-image: url(../img/pattern-characters-red.png);
  border-bottom: solid 1rem brown;
  border-radius: 1rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 2rem auto 2rem auto;
  min-width: 30px;
  max-width: 90rem;
  padding: 2rem;
  text-shadow: 0rem 1rem 0rem #000;
  -webkit-text-stroke-width: 0.3rem;
  -webkit-text-stroke-color: black;
  width: 80%;
}

.titlepage__title1{
  font-family: supermario;
  font-size: 10rem;
  letter-spacing: -0.5rem;
  line-height: 5rem;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

.titlepage__title3{
  font-family: supermario;
  font-size: 6rem;
  max-width: 80%;
  text-align: center;
  word-wrap: break-word;
}

.subheader__container{
  align-items: center;
  background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 80%;
}

.subheadercontainer__title{
  color: white;
  font-family: mariomaker;
  font-size: 30px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
}

.container__items{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
}

.container__item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container__item--image{
  height: 4rem;
  width: 4rem;
}

.container__item--text{
  color: white;
  font-family: mariomaker;
  font-weight: normal;
  margin-left: 1rem;
  margin-right: 5rem;
}

.maincontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 10rem;
  width: 80%;
}

.mariocard{
  background-color: #29abe2;
  border-radius: 1.6rem;
  box-shadow: 10px 5px 5px #7373f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: 1rem;
  padding: 2rem;
  width: 30rem;
}

.mariocard__title{
  display: flex;
  justify-content: space-between;
}

.mariocard__title--text{
  color: white;
  font-family: mariomaker;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.mariocard__title--difficulty{
  height: 4rem;
  width: 4rem
}

.mariocard__cover{
  width: 100%
}

.mariocard__coverimage{
  border: solid 0.4rem #ffffff;
  border-radius: 1.3rem;
  width: 100%
}

.mariocard__description{
  color: white;
  font-family: papermario;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.mariocard__actions{
  background-color: red;
  background-image: url(../img/pattern-characters-red.png);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.mariocardactions__like{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mariocardactionslike__img{
  display: flex;
}

.mariocardactions__img{
  align-items: center;
  cursor: pointer;
  height: 4rem;
  justify-content: center;
  padding: 0.5rem;
  width: 4rem;
}

.mariocardactions__p{
  align-items: center;
  color: white;
  font-family: emulogic;
}

.mariocardactions__button{
  align-items: center;
  background-color: white;
  color: red;
  display: flex;
  border-radius: 1rem;
  font-family: emulogic;
  justify-content: center;
  padding: 0.3rem;
  text-decoration: none;
  width: 10rem;
}

.super_footer{
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding-bottom: 2rem;
  width: 100%;
}

.super_footer p{
  color: white;
  text-align: center;
}

.containersubscribe{
  align-items: center;
  border: solid 0.4rem white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 80%;
  min-width: 50%;
  padding: 2rem;
}

.containersubscribe__p{
  font-family: papermario;
  font-size: 2rem;
  width: 90%;
}

.containersubscribe__form{
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-between;
  padding: 1rem;
}

.containersubscribe__form div{
  display: flex;
  flex-direction: row;
}

.containersubscribe__formimg{
  height: auto;
  width: 2.6rem;
}

.containersubscribe__forminput{
  background-color: white;
  border: 0;
  color: red;
  font-family: papermario;
  height: 3rem;
  text-align: center;
}

.containersubscribe__forminput:focus{
  border: solid 0.1rem white;
  border-radius: 0.5rem;
  outline: none;
}

.containersubscribe__formbutton{
  background-color: white;
  border: 0;
  border-radius: 0.3rem;
  color: red;
  cursor: pointer;
  font-family: emulogic;
  padding: 1rem;
}

.containersubscribe__formbutton:hover{
  background-color: red;
  border: 0;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  font-family: emulogic;
  padding: 1rem;
}

.cloud{
  position: absolute;
  z-index: -1;
}

.cloud1{
  right: 3rem;
  top: 3rem;
}

.cloud2{
  left: 5rem;
  top: 10rem;
}

.cloud3{
  right: 10rem;
  top: 30rem;
}

.super_floor{
  background-size: cover;
  bottom: 0rem;
  width: 100%
}